asgiref==3.8.1
distlib==0.3.8
Django==5.1.4
et_xmlfile==2.0.0
python==3.10


pilo==0.6.2

python-dateutil==2.9.0.post0
pytz==2024.2
typing-extensions==4.12.2
sqlparse==0.5.2
tzdata==2024.1
virtualenv==20.25.3
