<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

    <div class="payment-success">
        <h1>Payment Successful!</h1>
        <p>Your payment has been processed successfully. Thank you for your purchase!</p>
        <a href="{% url 'home' %}">Return to Home</a>
    </div>
    <div class="balloon balloon1"></div>
    <div class="balloon balloon2"></div>
    <div class="balloon balloon3"></div>
    <div class="balloon balloon4"></div>
    <div class="balloon balloon5"></div>
    <div class="balloon balloon6"></div>

<script src="{% static 'script.js' %}" async defer></script>
</body>
</html>
