<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link rel="icon" href="{% static 'favicon.jpg' %}" type="image/jpg">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>



<!-- profile.html -->
<h2>Welcome, {{ user.username }}!</h2>
<p>Email: {{ user.email }}</p>
<p>Phone: {{ user.phone_number }}</p> <!-- If you have a custom field -->
<a href="{% url 'logout' %}">Logout</a>
<script src="{% static 'script.js' %}" async defer></script>
</body>
</html>